.product_gallery,
.product_info {
    float: left;
    overflow: hidden;
    width: 50%;
}

.product_thumb-holder {
    float: left;
    width: 60px;
}

.product_thumb {
    background: red;
    height: 50px;
    margin: 5px auto 5px 0;
    width: 50px;
    &:first-child {
        margin: 0;
    }
}

.product_photo-holder {
    background-color: #aaa;
    float: left;
    height: 370px;
    width: 490px;
}

.product_price {
    color: $primary-color;
    font-size: 36px;
    font-weight: 700;
    line-height: 42px;
}

.product_quantity,
.product_payments {
    margin: 10px 0;
}

.product_similars {
    margin: 50px 0 0 0;
    overflow: hidden;
    position: relative;
    width: 100%;
    .product_similars-title {
        color: $primary-color;
        font-size: 18px;
        font-weight: 700;
        margin: 0 0 10px 0;
    }
    .product_similars-photo {
        background-color: #eee;
        height: 100px;
        margin-left: 10px;
        &:first-child {
            margin-left: 0;
        }
    }
}