$num-of-tabs: 2;

.product_tabs {
    margin: 40px 0 0 0;
}

.tabs__radio {
    position: absolute;
    left: -9999px;
}

.tabs__label {
    background-color: #aaa;
    color: #000;
    cursor: pointer;
    margin-left: 30px;
    padding: 5px 20px;
    position: relative;
    &::after {
        border-bottom: 25px solid #aaa;
        border-right: 11px solid transparent;
        content: "";
        height: 0;
        position: absolute;
        top: 0;
        right: -10px;
        width: 0;
    }
}

.tabs__label[for='myTab1'] {
    margin: 0;
}

.tabs__content {
    background-color: #eee;
    border: 1px solid #aaa;
    box-sizing: border-box;
    display: none;
    margin-top: 2px;
    padding: 10px;
}

@for $i from 1 through $num-of-tabs {
    .tabs__radio:nth-of-type(#{$i}):checked {
        & ~ .tabs__label:nth-of-type(#{$i}) {
            background-color: #aaa;
        }
        & ~ .tabs__content:nth-of-type(#{$i}) {
            display: block;
        }
    }
    .tabs__radio:nth-of-type(#{$i}):disabled {
        & ~ .tabs__label:nth-of-type(#{$i}):not(.tabs__label--hide) {
            color: #eee;
            cursor: no-drop;
        }
        & ~ .hide-if-disabled:nth-of-type(#{$i}) {
            display: none;
        }
    }
}